<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Recommendations
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title text-center>Now you might be wondering...</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <h1>Judd, Where is your recommendations? I think, that if you ask anyone
        who knows me, they will give you one. It might not be all sugar-coated
        with "Judd is an amazing kid even though"
      </h1>
    </ion-card-content>
  </ion-card>
</ion-content>
