<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>
        I like learning. Expecially computers and space. Here's two experiences
        I decided to share about those two passions.
      </p>
      <p>
        <b>Space - </b>I've been so amazed about everything outside of our tiny blue marble
        that I bought two $10 earth marbles just so I could build a to scale model
        of the Earth and Moon. I know, crazy.
      </p>
      <p>
        <b>Computers - </b>I'm in a club called Future Problem Solvers. If you want
        to know more about the competition works, there's a link
          <a href='https://www.fpspi.org/global-issues-problem-solving/'>here</a>.
        Anyway, so my team thought that the judge graded our packet unfairly at the State
        Competition in 6th grade, so I began creating a Machine Learning algorithm that
        judges the packet for us humans. I've now been working on that for 2ish and don't
        really plan on stopping.
        <br><br>
        With that, I know some of the kids in my class say I'm the smartest kid
        in the class or whatever, I have 2 things to say about that.
      </p>
      <br>
      <h3 padding-horizontal><b> 1. Hardwork beats talent when talent doesn't work hard</b></h3>
      <h3 padding-horizontal><b> 2. Nobody is perfect, just because someone is amazing at
      one thing desn't mean they're perfect at everything.</b></h3>
      <br>
      <p>
        Because I'm not. Nobody is. <i>I had no idea who my true friends were for a period
        of time, and I still don't really know.</i> And <i>I had no idea how to finally accept that my parents
        were divorced</i> until I had a chance to build a website to tell everyone
        what I was too scared to tell myself.
        <br><br>
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
