<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p><b>Let me just say before this, this weekend was Ironicly the busiest
        weekend I've had all year. I went to the State Science O competition on
        Saturday, and I went to my travel team's tournament that was going on on Sunday</b>
        <br><br>
        I like learning, I might like it too much because I’m struggling to actually
        get my website deployed to the hosting platform (Firebase) which means this might
        not be seen by the voting committee on April 29th… Anyways, I learned how
        to program when I was 12, and that's how your seeing this right now. Um,
        I’m not sure what else to say…
        <br><br>
        How about this... Just for your information, this is the first time I’m
        publicly talking about this so just keep that in mind. My parents separated
        on September 9th, 2017 and I have been living in two households for a
        year and a half. Their divorce court hearing - or whatever it’s called
        - is scheduled for sometime in June. And let me just say, it's
        obviously been the hardest f****** thing of my life.
        <br><br>
        I know some of the kids in my class say stuff like "Judd is so smart,
        he learned to program when he was 12" or something similar, and they
        assume from that that everything else in my life is perfect. Well, it's not.
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>
