

<!-- just so I don't forget: RUN 'firebase deploy' TO BUILD APP -->


<ion-header>
  <ion-toolbar>
    <ion-title>
      I'm Judd.
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card (click)='about()' class='detail-card'>
          <ion-img src="/assets/me3.jpg"></ion-img>
          <ion-card-header>
            <ion-card-subtitle>Talking about yourself is hard...</ion-card-subtitle>
            <ion-card-title>About Me!</ion-card-title>
          </ion-card-header>
        </ion-card>

        <ion-card (click)='photos()' class='detail-card'>
          <ion-img src="/assets/Judd-batting.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>Photos</ion-card-title>
          </ion-card-header>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Awards</ion-card-title>
          </ion-card-header>
          <h1 padding text-center>Challenge Coin</h1>
          <ion-item no-padding>
            <ion-img src='/assets/challenge-coin.jpg'></ion-img>
            <p padding>
              I still don't really know what this coin shows about me.
              All I know is that A. You get these in the military, and B. I'm not
              in the military...
            </p>
          </ion-item>

          <h1 padding text-center> 2018 Ray Weber Award</h1>
          <ion-item no-padding lines='none'>
            <p padding-horizontal>
              Guess what?! I couldn't find a picture of me recieving
              this award. But heres a definition:
            </p>
          </ion-item>
          <p padding-horizontal>
            "The Ray Weber Award is awarded to one player from Colorado Springs
            Little League every year for sportsmanship and character."
          </p>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card class='detail-card'>
          <ion-card-header>
            <ion-card-title>Keep in Mind...</ion-card-title>
            <ion-card-subtitle>There are some people that do even more clubs and
              sports than me
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list class='clubs'>
              <ion-list-header>
                <h1>Clubs</h1>
              </ion-list-header>
              <ion-item no-padding>
                <ion-label text-wrap>Samsung Solve For Tomorrow (SFT)</ion-label>
                <ion-button slot='end' fill='outline' href='https://www.samsung.com/us/solvefortomorrow/'>website</ion-button>
              </ion-item>
              <ion-item no-padding>
                <ion-label>Science Olympiad</ion-label>
                <ion-button slot='end' fill='outline' href='https://www.soinc.org/'>website</ion-button>
              </ion-item>
              <ion-item no-padding>
                <ion-label text-wrap>Future Problem Solvers (FPS)</ion-label>
                <ion-button slot='end' fill='outline' href='https://www.soinc.org/'>website</ion-button>
              </ion-item>
              <ion-item no-padding>
                <ion-label>NJHS</ion-label>
                <ion-button slot='end' fill='outline' href='https://www.njhs.us/'>website</ion-button>
              </ion-item>

              <ion-item no-padding>
                <ion-label>Drama Club</ion-label>
              </ion-item>
              <ion-item no-padding lines='none'>
                <ion-label>WEB</ion-label>
              </ion-item>
            </ion-list>

            <ion-list-header>
              <h1>Baseball</h1>
            </ion-list-header>
            <ion-img src='assets/district-tournament.JPG'></ion-img>
            <ion-item no-padding lines='none'>
              <p padding>I started playing baseball even before I can remember,
                so did my brother. We kept on playing. Fast-forward 9 years or so,
                I recieved the Ray Weber Award. That following summer, I joined
                the 13U Colorado Springs Little League (CSLL) All Stars, and we
                were the first CSLL All Star team to make it to the Regional
                Tournament in over 20 years (we won the District & State Tournaments first).
                <br>
                <br>
                Now, I'm playing on the 14U Colorado Springs Mountain Lions. And
                this weekend, April 27th and 28th, we came 3rd in the Mile High
                Invitational tournament.
            </ion-item>

          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <p text-center id='askterisk' padding><b>And if you are wondering:</b> I coded every
    line of this website, I did not use Wix or Squarespace or anything like that</p>
</ion-content>
