<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-img src='assets/chess.jpg'></ion-img>
          <p padding-horizontal>Me! Playing chess!</p>
        </ion-card>
        <ion-card>
          <ion-img src='assets/me1.jpeg'></ion-img>
          <p padding-horizontal>Backstage selfie when Matisse Conn-Parent and I performed the skit "Mall Puppies"</p>
        </ion-card>
        <ion-card>
          <ion-img src='assets/graduation.jpg'></ion-img>
          <p padding-horizontal>Wow... hot</p>
        </ion-card>
        <ion-card>
          <ion-img src='assets/challenge-coin.jpg'></ion-img>
          <p padding-horizontal>My challenge coin, awarded to me on Veterans Day, 2018</p>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-img src='assets/Judd-state-catching.jpg'></ion-img>
          <p padding-horizontal>This was an amazing photo taken at the State All Star tournament</p>
        </ion-card>
        <ion-card>
          <ion-img src='assets/painting.jpg'></ion-img>
          <p padding-horizontal>This work of art was my Frankfolio A-layer activity</p>
        </ion-card>
        <ion-card>
          <ion-img src='assets/john-mc.jpg'></ion-img>
          <p padding-horizontal>Another work of art, this time dedicated to John McCain for his service to his country after his passing</p>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
